<div id="scoreSheetZone" class="container-fluid w-100 scoresheet d-none">
    <div class="row justify-content-between">
        <h1 style="font-size:40pt" id="selectedBoardGame" class="col-sm-11">Board Game</h1>
        <div class="col-sm-1 d-flex-inline flex-row">
            <button id="startStopTimer" class="btn btn-success ">Start Timer</button>
            <div id="timerDisplay" class="timer bg-dark mt-2">00:00</div>
        </div>
    </div>
    <div id="scoreSheet" class="row align-content-center">

    </div>

</div>