<div id="commentSideBar" class="sidebar-right bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pb-3 align-items-end">
                <button type="button" class="close text-white" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="height:90%" class="col-12">
                <div class="card">
                    <div id="commentHeader" style="font-size: 10pt" class="card-header">Comments</div>
                    <div class="card-body scroll">
                        <div id="comments" style="font-size: 8pt" class="list-group list-group-flush">
                        </div>
                    </div>
                    <div class="card-footer">

                            <form class="form-inline" id="newComment">
                                <input type="text" class="form-control form-control-sm" id="comment" placeholder="Enter comment">&nbsp;&nbsp;
                                <button type="submit" class="btn btn-primary btn-sm" id="submitComment">Submit</button>
                            </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>