<div id="detailsSideBar" class="sidebar-left bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pb-3 align-items-end">
                <button type="button" class="close text-white" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="height:90%" class="col-12">
                <form id="details">
                    <div class="form-group">
                        <label for="title" class="text-white">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="content" class="text-white">Content</label>
                        <textarea rows="4" class="form-control" id="content" placeholder="Enter content"></textarea>
                    </div>
                    <div class="form-group">
                        <label id="changedOn" class="text-white">Changed On: </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>