<div id="scoreSheetSidebar" class="sidebar-bottom bg-info d-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pb-3 align-items-end">
                <button type="button" class="close text-white" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="scoreSheets" style="height:80vw" class="col-12 scroll-score-sheet">
            </div>
        </div>
    </div>
</div>